.root {
    -fx-font-family: "Roboto Light";
}

.jfx-tab-pane .tab-header-background {

    -fx-background-color: #7d9a4f;
}

#tabPane .tab {
    -fx-background-color: #adcb7d;
    -fx-padding: 5 5 5 5;

}

#tabPane .tab:selected {
    -fx-background-color: #4f6c24;
    -fx-focus-color: transparent;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: #4f6c24;
}

#tabPane .tab-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

#tabPane .tab:selected .tab-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.split-pane {
    -fx-box-border: #434141;

}

.progress-bar {
    -fx-box-border: #434141;
    -fx-accent: #7d9a4f;

}

.progress-bar > .track {
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-shadow-highlight-color: transparent;

}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0.05em 0 0.05em;
    -fx-border-color: transparent;
    -fx-background-color: #434141;
}


.list-cell:selected {
    -fx-background-color: #7d9a4f;
    -fx-text-fill: #000000;

}

.list-cell:odd:selected {
    -fx-background-color: #7d9a4f;
    -fx-text-fill: #000000;

}

.list-cell {
    -fx-padding: 2px;
    -fx-background-color: #e1e2e1;
    -fx-text-fill: #000000;
    -fx-border-color: #c6c8c6;
}

.list-view {
    -fx-background-color: #e1e2e1;
    -fx-padding: 3px;
    -fx-border-color: #e1e2e1;
}




.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color:#e1e2e1;
    -fx-border-color:#e1e2e1;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}



.scroll-pane {
    -fx-background-color: #e1e2e1;
    -fx-border-radius: 0em;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}